@model IEnumerable<Blogging.Models.Blog>

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<center> <h2> <u> All Blogs </u> </h2> </center>

<br/>

<p>
    @using (Html.BeginForm())
    {
    <p>
        <b> Blog Title : </b> @Html.TextBox("searchString")
        &nbsp; &nbsp;

        <b> Author : </b> @Html.DropDownList("searchUser", "All")
        &nbsp; &nbsp;

        <input type="submit" value="Search" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnCreated)
        </th>
        <th>
            Blog Writer
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnCreated)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>

       
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.BlogId }) 
           
        </td>
    </tr>
}

</table>
